<!DOCTYPE html>
<html>
<head>
    <title>Genie with Pluto</title>
  <style>
      #notebook-list {
          list-style-type: none;
          padding: 0;
      }
      #notebook-list li {
          cursor: pointer;
          margin: 5px 0;
      }
      #notebook-list li:hover {
          text-decoration: underline;
      }
  </style>
</head>
<body>
    <h1>Welcome <% users.name %></h1>
    <br/>
    <button onclick="listNotebooks()">List Notebooks</button>
    <button onclick="newNotebook()">Create new Notebook</button>
    <button onclick="window.location.href='/logout'">Log out</button>

    <ul id="notebook-list"></ul>
    <br/>
    <iframe id="dynamic_iframe" src="http://localhost:1234/$(users.pluto_key)" width="100%" height="800px" style="border:None;"></iframe>

    <script>
    // Function to fetch the list of files and display them
    function listNotebooks() {
        fetch('/notebooks')
            .then(response => response.json())
            .then(data => {
                const list = document.getElementById('notebook-list');
                list.innerHTML = '';
                data.forEach(name => {
                    const li = document.createElement('li');
                    const a = document.createElement('a');
                    a.textContent = name;
                    li.appendChild(a);
                    li.textContent = name;

                    // Create context menu
                    const contextMenu = document.createElement('div');
                    contextMenu.classList.add('context-menu');
                    const openNotebook = document.createElement('a');
                    openNotebook.textContent = 'Open Notebook ';
                    openNotebook.onclick = () => _openNotebook(name);

                    const downloadNotebook = document.createElement('a');
                    downloadNotebook.textContent = 'Download Notebook ';   
                    downloadNotebook.href = 'http://127.0.0.1:8000/notebooks/' + name;
                    downloadNotebook.download = name;

                    const deleteNotebook = document.createElement('a');
                    deleteNotebook.textContent = 'Delete Notebook ';
                    deleteNotebook.onclick = () => _deleteNotebook(name);

                    contextMenu.appendChild(openNotebook);
                    contextMenu.appendChild(downloadNotebook);
                    contextMenu.appendChild(deleteNotebook);

                    li.appendChild(contextMenu);

                    // Show context menu on hover
                    li.onmouseover = () => {
                        contextMenu.style.display = 'block';
                    };
                    li.onmouseout = () => {
                        contextMenu.style.display = 'none';
                      };
                    list.appendChild(li);
                    });
                })
            .catch(error => {
                console.error('Error fetching files:', error);
            });
    }
    function _openNotebook(name){
        const iframe = document.getElementById('dynamic_iframe');
        const url = "http://localhost:1234/$(users.pluto_key)/open?path=notebooks/" + encodeURIComponent(name);
        iframe.src = url
    }

    function _deleteNotebook(name){
        if (confirm("Are you sure you want to delete " + name + "?")) {
            fetch('/pluto/delete/' + name, {
                method: 'DELETE'
            })
                .then(response => {
                    if (response.status === 200) {
                        alert('File deleted successfully.');
                    } else if (response.status === 404) {
                        alert('File not found.');
                    } else {
                        alert('Error deleting file.');
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    }
          
    function newNotebook(name){
        const iframe = document.getElementById('dynamic_iframe');
        const url = "http://localhost:1234/$(users.pluto_key)/new"
        iframe.src = url
    }

</script>
</body>

</html>